.container {
    width: 100%;
    height: var(--navbar-height);
    background: var(--i-bg-color);
}

.wrapper {
    margin-left: var(--wrapper-padding);
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: 100%;
}