.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--wrapper-padding);
    width: 100%;
    height: var(--navbar-height);
    background: var(--i-bg-color);
}

.wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
    height: 100%;
}