.container {
    display: flex;
    transition: 0.2s;
    transform-origin: center;
}

.animation {
    &:active {
        transform: scale(0.97);
    }
}

.hovered {
    &:hover {
        background: var(--link-hover);
        border-radius: 4px;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.primary_invert {
    color: var(--i-primary-color);
}

.secondary_invert {
    color: var(--i-secondary-color);
}